body {
	background-color: #000000;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CENTER CLASS FOR CAMP IMAGE */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* HEADINGS */

.header--main {
	font-weight: normal;
	font-size: 50px;
	color: #ffffff;
}

.header--secondary {
	font-weight: 300;
	font-size: 42px;
	color: #ffffff;
}

.header--sub-header {
	font-size: 21px;
	color: #808080;
}

/* LINKS */

.link--cta {
	font-size: 16px;
	color: #7fffd4;
}